*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.header-container{
    max-width: 1600px;
    margin: 0 auto;
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    text-align: right;
    padding: 216px 230px 166px 845px;
}

.header-container h1{
  font-size: 65px;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.header-container p{
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 26px;
  margin-bottom: 32px;
}

.header-container button{
  color: #005FAC;
  font-size: 20px;
  font-weight: 600;
  padding: 21px 26px;
  border: none;
  border-radius: 5px;
}

#section-container{
  display: flex;
  gap: 87px;
  max-width: 1078px;
  width: 70%;
  margin: 0 auto;
}

#section-container .content{
  padding: 240px 0 85px 0;
  text-align: left;
}

#section-container .content h2{
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
}

#section-container .content p{
  color: #444343;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 16px;
}

#section-container .content ul{
  color: #444343;
  font-size: 16px;
  line-height: 26px;
  list-style: none;
}

#section-container .content ul i{
  color: #16D887;
}

#my-plans h2{
  text-align: center;
  margin: 130px 0 50px;
  padding-left: 230px;
  color: #151414;
  font-size: 40px;
  font-weight: 700;
}

#my-plans .my-plans-box{
  display: flex;
  justify-content: space-between;
  gap: 86px;
  max-width: 1141px;
  margin: 0 auto 130px;
  text-align: center;
}

#my-plans .my-plans-box h3{
  margin-top: 24px;
  margin-bottom: 16px;
  color:#151414;
  font-size: 30px;
  font-weight: 700;
}

#my-plans .my-plans-box p{
  color: #737272;
  font-size: 25px;
  font-weight: 500;
}

#down-img-part{
  max-width: 1140px;
  margin: 0 auto 130px;
  background-image: url(../images/gradient1.png), url(../images/watch.png);
}

#down-img-part .content{
  max-width: 460px;
  text-align: left;
  padding-top: 60px;
  padding-left: 65px;
  padding-bottom: 60px;
}

#down-img-part .content h1{
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 700;
}


#down-img-part .content button{
  border: none;
  color: #005FAC;
  background-color: #FFFFFF;
  padding: 20px 35px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 24px;
}
